Repository unc-csxl/csxl.unc.edu, pull requests merged in 2023-12, with the labels that each got.

#194 Fix Github Link on Light Mode
  frontend/src/app/profile/profile-editor/profile-editor.component.css
  frontend/src/app/profile/profile-editor/profile-editor.component.html
Labels: enhancement, good first issue

#195 Create Models for Course Feature
  backend/entities/courses/course_entity.py
  backend/entities/courses/section_entity.py
  backend/entities/courses/term_entity.py
  backend/models/courses/__init__.py
  backend/models/courses/course.py
  backend/models/courses/course_details.py
  backend/models/courses/section.py
  backend/models/courses/section_details.py
  backend/models/courses/section_staff.py
  backend/models/courses/term.py
  backend/models/courses/term_details.py
Labels: enhancement

#185 Add oc OpenShift Client to DevContainer
  .devcontainer/Dockerfile
Labels: admin

#205 User Admin tab should Navigate to Users Table
  frontend/src/app/navigation/navigation.component.html
Labels: frontend

#207 Implement Design for Operating Hours
  frontend/src/app/coworking/coworking.module.ts
  frontend/src/app/coworking/widgets/operating-hours-dialog/operating-hours-dialog.widget.css
  frontend/src/app/coworking/widgets/operating-hours-dialog/operating-hours-dialog.widget.html
  frontend/src/app/coworking/widgets/operating-hours-dialog/operating-hours-dialog.widget.ts
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.css
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.html
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.ts
Labels: design, frontend

#209 Fix Querying Methods in Backend Service Logic
  backend/services/event.py
Labels: backend, refactor

#210 Use get_by Convention in Organizations and Events
  backend/api/events.py
  backend/api/organizations.py
  backend/services/event.py
  backend/services/organization.py
  backend/test/services/event/event_test.py
  backend/test/services/organization/organization_test.py
Labels: backend, refactor

#211 Create RxEventRegistrationStatuses
  backend/api/events.py
  backend/models/event_registration.py
  backend/services/event.py
  frontend/src/app/event/event-filter/event-filter.pipe.ts
  frontend/src/app/event/event-page/event-page.component.ts
  frontend/src/app/event/event.model.ts
  frontend/src/app/event/event.module.ts
  frontend/src/app/event/event.service.ts
  frontend/src/app/event/rx-event-registration-statuses.ts
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.html
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.ts
Labels: refactor

#196 Create Services for Course Feature
  backend/entities/courses/__init__.py
  backend/entities/courses/course_entity.py
  backend/entities/courses/section_entity.py
  backend/entities/courses/section_member_entity.py
  backend/entities/courses/term_entity.py
  backend/entities/user_entity.py
  backend/models/courses/__init__.py
  backend/models/courses/section_details.py
  backend/models/courses/section_member.py
  backend/models/courses/section_staff.py
  backend/models/roster_role.py
  backend/models/user.py
  backend/models/user_details.py
  backend/script/repl.py
  backend/services/courses/__init__.py
  backend/services/courses/course.py
  backend/services/courses/section.py
  backend/services/courses/term.py
  backend/test/services/courses/__init__.py
  backend/test/services/courses/course_data.py
  backend/test/services/courses/course_test.py
  backend/test/services/courses/fixtures.py
  backend/test/services/courses/section_data.py
  backend/test/services/courses/section_test.py
  backend/test/services/courses/term_data.py
  backend/test/services/courses/term_test.py
Labels: feature, backend

#213 Create APIs for Course Feature
  backend/api/courses/__init__.py
  backend/api/courses/course.py
  backend/api/courses/section.py
  backend/api/courses/term.py
  backend/main.py
  backend/script/reset_demo.py
Labels: feature, backend

#221 Add Academics Technical Specification Document
  docs/images/specs/academics/academics-api.png
  docs/images/specs/academics/room-api.png
  docs/specs/academics.md
Labels: documentation

#228 Temporarily Hide Instructor Column on Section View
  frontend/src/app/academics/section-offerings/section-offerings.component.ts
Labels: frontend

#212 Implement Event Registration Feature
  backend/api/events.py
  backend/api/events/__init__.py
  backend/api/events/events.py
  backend/entities/__init__.py
  backend/entities/event_entity.py
  backend/entities/event_registration_entity.py
  backend/main.py
  backend/migrations/README
  backend/migrations/versions/1952e411745f_add_event_registration.py
  backend/models/__init__.py
  backend/models/event.py
  backend/models/event_details.py
  backend/models/event_member.py
  backend/models/event_registration.py
  backend/models/registration_type.py
  backend/models/user_details.py
  backend/services/event.py
  backend/services/exceptions.py
  backend/services/user.py
  backend/test/services/event/event_demo_data.py
  backend/test/services/event/event_test.py
  backend/test/services/event/event_test_data.py
  backend/test/services/fixtures.py
  backend/test/services/user_test.py
  frontend/src/app/admin/organization/list/admin-organization-list.component.ts
  frontend/src/app/event/event-details/event-details.component.css
  frontend/src/app/event/event-details/event-details.component.html
  frontend/src/app/event/event-details/event-details.component.ts
  frontend/src/app/event/event-editor/event-editor.component.html
  frontend/src/app/event/event-editor/event-editor.component.ts
  frontend/src/app/event/event-page/event-page.component.css
  frontend/src/app/event/event-page/event-page.component.html
  frontend/src/app/event/event-page/event-page.component.ts
  frontend/src/app/event/event.model.ts
  frontend/src/app/event/event.module.ts
  frontend/src/app/event/event.resolver.ts
  frontend/src/app/event/event.service.ts
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.css
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.html
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.ts
  frontend/src/app/event/widgets/event-users-list/event-users-list.widget.css
  frontend/src/app/event/widgets/event-users-list/event-users-list.widget.html
  frontend/src/app/event/widgets/event-users-list/event-users-list.widget.ts
  frontend/src/app/organization/rx-organization.ts
Labels: feature, backend, frontend

#234 Event Organizer Fixes #233
  backend/entities/event_registration_entity.py
  backend/models/event_member.py
  backend/services/event.py
  frontend/src/app/event/event-editor/event-editor.component.html
  frontend/src/app/event/event-editor/event-editor.component.ts
  frontend/src/app/event/event.model.ts
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.css
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.html
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.ts
  frontend/src/app/event/widgets/event-users-list/event-users-list.widget.html
  frontend/src/app/event/widgets/event-users-list/event-users-list.widget.ts
Labels: bug, frontend

#235 Remove can_register Column from Event Entity #232
  backend/entities/event_entity.py
  backend/migrations/versions/17162b9faf79_remove_can_register_event_entity_column.py
  backend/models/event.py
  backend/services/event.py
  backend/test/services/event/event_demo_data.py
  backend/test/services/event/event_test.py
  backend/test/services/event/event_test_data.py
  frontend/src/app/event/event-editor/event-editor.component.ts
  frontend/src/app/event/event.model.ts
  frontend/src/app/event/event.resolver.ts
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.html
Labels: backend, REQUIRES MIGRATION
