Repository unc-csxl/csxl.unc.edu, pull requests merged in 2024-03, with the labels that each got.

#311 Dynamic Room Reservation Table based on Operating hours
  backend/api/coworking/reservation.py
  backend/models/coworking/__init__.py
  backend/models/coworking/availability.py
  backend/models/coworking/operating_hours.py
  backend/models/coworking/reservation.py
  backend/models/coworking/time_range.py
  backend/services/coworking/policy.py
  backend/services/coworking/reservation.py
  backend/test/services/coworking/reservation/get_map_current_reservations_test.py
  backend/test/services/coworking/time.py
  frontend/src/app/coworking/coworking.models.ts
  frontend/src/app/coworking/room-reservation/reservation-table.service.ts
  frontend/src/app/coworking/widgets/room-reservation-table/room-reservation-table.widget.ts
Labels: backend, frontend, room-reservation

#315 260 migrate upcoming reservations up a level into coworking
  frontend/src/app/coworking/ambassador-home/ambassador-home.component.css
  frontend/src/app/coworking/ambassador-home/ambassador-home.component.html
  frontend/src/app/coworking/coworking-home/coworking-home.component.css
  frontend/src/app/coworking/coworking-home/coworking-home.component.html
  frontend/src/app/coworking/coworking-home/coworking-home.component.ts
  frontend/src/app/coworking/coworking.module.ts
  frontend/src/app/coworking/coworking.service.ts
  frontend/src/app/coworking/reservation/reservation.component.css
  frontend/src/app/coworking/room-reservation/confirm-reservation/confirm-reservation.component.css
  frontend/src/app/coworking/room-reservation/confirm-reservation/confirm-reservation.component.html
  frontend/src/app/coworking/room-reservation/confirm-reservation/confirm-reservation.component.ts
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.css
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.html
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.ts
  frontend/src/app/coworking/room-reservation/reservation-table.service.ts
  frontend/src/app/coworking/room-reservation/room-reservation.service.ts
  frontend/src/app/coworking/rx-coworking-status.ts
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.css
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.html
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.ts
  frontend/src/app/coworking/widgets/date-selector/date-selector.widget.ts
  frontend/src/app/coworking/widgets/dropin-availability-card/dropin-availability-card.widget.css
  frontend/src/app/coworking/widgets/operating-hours-dialog/operating-hours-dialog.widget.css
  frontend/src/app/coworking/widgets/operating-hours-dialog/operating-hours-dialog.widget.html
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.css
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.html
  frontend/src/app/coworking/widgets/room-reservation-table/room-reservation-table.widget.css
  frontend/src/app/coworking/widgets/room-reservation-table/room-reservation-table.widget.html
  frontend/src/app/coworking/widgets/room-reservation-table/room-reservation-table.widget.ts
Labels: frontend, room-reservation

#314 Restrict room reservations during office hour timeslots
  backend/services/coworking/policy.py
  backend/services/coworking/reservation.py
  backend/test/services/coworking/reservation/get_map_current_reservations_test.py
Labels: feature, backend, room-reservation

#328 Get Organization / Event Test Coverage to 100%
  backend/services/exceptions.py
  backend/test/services/event/event_test.py
  backend/test/services/organization/organization_test.py
  backend/test/services/organization/organization_test_data.py
Labels: refactor

#330 Get Academics Test Coverage to 100%
  backend/test/services/academics/section_data.py
  backend/test/services/academics/section_test.py
Labels: refactor

#337 Fix Design of Coworking Hours Button
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.css
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.html
Labels: design, frontend

#334 Fix Academics Home and Section Dropdown to Use Outlined Style
  frontend/src/app/academics/academics-home/academics-home.component.html
  frontend/src/app/academics/section-offerings/section-offerings.component.html
Labels: design, frontend

#339 Fix Button Casing Throughout CSXL Site
  frontend/src/app/academics/academics-admin/course/course-editor/course-editor.component.html
  frontend/src/app/academics/academics-admin/room/room-editor/room-editor.component.html
  frontend/src/app/academics/academics-admin/section/section-editor/section-editor.component.html
  frontend/src/app/academics/academics-admin/term/term-editor/term-editor.component.html
  frontend/src/app/event/event-editor/event-editor.component.html
  frontend/src/app/organization/organization-editor/organization-editor.component.html
  frontend/src/app/organization/widgets/organization-card/organization-card.widget.html
  frontend/src/app/profile/profile-editor/profile-editor.component.html
Labels: design

#332 Conform Room Reservation Feature to CSXL's Material UI Conventions
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.css
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.html
  frontend/src/app/coworking/widgets/date-selector/date-selector.widget.html
  frontend/src/app/coworking/widgets/room-reservation-table/room-reservation-table.widget.css
  frontend/src/app/coworking/widgets/room-reservation-table/room-reservation-table.widget.html
Labels: design, frontend, room-reservation

#346 Instagram sidebar button
  frontend/src/app/navigation/navigation.component.html
Labels: frontend

#345 Refactor logic for graying out timeslots
  backend/services/coworking/reservation.py
  backend/test/services/coworking/reservation/get_map_current_reservations_test.py
  frontend/src/app/coworking/room-reservation/reservation-table.service.ts
Labels: backend, room-reservation
