Repository unc-csxl/csxl.unc.edu, pull requests merged in 2024-05, with the labels that each got.

#447 Upgrade to Angular v16
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#448 Upgrade Angular Version to 17
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/academics/academics-admin/course/course-editor/course-editor.component.css
  frontend/src/app/academics/academics-admin/course/course-editor/course-editor.component.html
  frontend/src/app/academics/academics-admin/room/room-editor/room-editor.component.css
  frontend/src/app/academics/academics-admin/room/room-editor/room-editor.component.html
  frontend/src/app/academics/academics-admin/section/admin-section.component.html
  frontend/src/app/academics/academics-admin/section/section-editor/section-editor.component.css
  frontend/src/app/academics/academics-admin/section/section-editor/section-editor.component.html
  frontend/src/app/academics/academics-admin/term/term-editor/term-editor.component.css
  frontend/src/app/academics/academics-admin/term/term-editor/term-editor.component.html
  frontend/src/app/coworking/coworking-home/coworking-home.component.css
  frontend/src/app/coworking/widgets/dropin-availability-card/dropin-availability-card.widget.css
  frontend/src/app/event/event-editor/event-editor.component.css
  frontend/src/app/event/event-editor/event-editor.component.html
  frontend/src/app/office-hours/event/create-event-form/create-event-form.component.css
  frontend/src/app/office-hours/event/delete-event-form/delete-event-form.component.css
  frontend/src/app/office-hours/event/edit-event-form/edit-event-form.component.css
  frontend/src/app/office-hours/section/section-creation-form/section-creation-form.component.css
  frontend/src/app/office-hours/ticket/ticket-creation-form/ticket-creation-form.component.css
  frontend/src/app/office-hours/ticket/ticket-feedback-form/ticket-feedback-form.component.css
  frontend/src/app/office-hours/widgets/section/join-section-dialog/join-section-dialog.widget.css
  frontend/src/app/office-hours/widgets/section/schedule-card/schedule-card-widget.css
  frontend/src/app/office-hours/widgets/section/section-data/section-data-widget.css
  frontend/src/app/office-hours/widgets/ticket/concern-tickets/concern-tickets-widget.css
  frontend/src/app/office-hours/widgets/ticket/delete-ticket-dialog/delete-ticket-dialog.widget.css
  frontend/src/app/organization/organization-editor/organization-editor.component.css
  frontend/src/app/organization/organization-editor/organization-editor.component.html
  frontend/src/app/organization/widgets/organization-card/organization-card.widget.css
  frontend/src/app/organization/widgets/organization-details-info-card/organization-details-info-card.widget.css
  frontend/src/app/organization/widgets/organization-not-found-card/organization-not-found-card.widget.css
  frontend/src/app/profile/profile-editor/profile-editor.component.css
  frontend/src/app/profile/profile-page/profile-page.component.html
  frontend/src/app/shared/slack-invite-box/slack-invite-box.widget.html
  frontend/src/app/shared/user-chip-list/user-chip-list.widget.html
  frontend/src/app/ta-application/uta-application/uta-application.component.html
  frontend/src/app/ta-application/uta-notice/uta-notice.component.html
Labels: frontend

#453 Upgrade Angular to Version 17
  frontend/.eslintrc.json
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/academics/academics-admin/course/course-editor/course-editor.component.css
  frontend/src/app/academics/academics-admin/course/course-editor/course-editor.component.html
  frontend/src/app/academics/academics-admin/room/room-editor/room-editor.component.css
  frontend/src/app/academics/academics-admin/room/room-editor/room-editor.component.html
  frontend/src/app/academics/academics-admin/section/admin-section.component.html
  frontend/src/app/academics/academics-admin/section/section-editor/section-editor.component.css
  frontend/src/app/academics/academics-admin/section/section-editor/section-editor.component.html
  frontend/src/app/academics/academics-admin/term/term-editor/term-editor.component.css
  frontend/src/app/academics/academics-admin/term/term-editor/term-editor.component.html
  frontend/src/app/coworking/coworking-home/coworking-home.component.css
  frontend/src/app/coworking/widgets/dropin-availability-card/dropin-availability-card.widget.css
  frontend/src/app/event/event-editor/event-editor.component.css
  frontend/src/app/event/event-editor/event-editor.component.html
  frontend/src/app/office-hours/event/create-event-form/create-event-form.component.css
  frontend/src/app/office-hours/event/delete-event-form/delete-event-form.component.css
  frontend/src/app/office-hours/event/edit-event-form/edit-event-form.component.css
  frontend/src/app/office-hours/section/section-creation-form/section-creation-form.component.css
  frontend/src/app/office-hours/ticket/ticket-creation-form/ticket-creation-form.component.css
  frontend/src/app/office-hours/ticket/ticket-feedback-form/ticket-feedback-form.component.css
  frontend/src/app/office-hours/widgets/section/join-section-dialog/join-section-dialog.widget.css
  frontend/src/app/office-hours/widgets/section/schedule-card/schedule-card-widget.css
  frontend/src/app/office-hours/widgets/section/section-data/section-data-widget.css
  frontend/src/app/office-hours/widgets/ticket/concern-tickets/concern-tickets-widget.css
  frontend/src/app/office-hours/widgets/ticket/delete-ticket-dialog/delete-ticket-dialog.widget.css
  frontend/src/app/organization/organization-editor/organization-editor.component.css
  frontend/src/app/organization/organization-editor/organization-editor.component.html
  frontend/src/app/organization/widgets/organization-card/organization-card.widget.css
  frontend/src/app/organization/widgets/organization-details-info-card/organization-details-info-card.widget.css
  frontend/src/app/organization/widgets/organization-not-found-card/organization-not-found-card.widget.css
  frontend/src/app/profile/profile-editor/profile-editor.component.css
  frontend/src/app/profile/profile-page/profile-page.component.html
  frontend/src/app/shared/slack-invite-box/slack-invite-box.widget.html
  frontend/src/app/shared/user-chip-list/user-chip-list.widget.html
  frontend/src/app/ta-application/uta-application/uta-application.component.html
  frontend/src/app/ta-application/uta-notice/uta-notice.component.html
Labels: admin, frontend

#455 Angular v17 Upgrade: Organizations Feature Refactor
  backend/api/organizations.py
  frontend/src/app/academics/academics-home/academics-home.component.ts
  frontend/src/app/academics/course-catalog/course-catalog.component.ts
  frontend/src/app/academics/section-offerings/section-offerings.component.ts
  frontend/src/app/event/event-details/event-details.component.ts
  frontend/src/app/event/event-editor/event-editor.component.ts
  frontend/src/app/event/event-list-admin/event-list-admin.component.ts
  frontend/src/app/event/event-page/event-page.component.ts
  frontend/src/app/navigation/navigation-admin-gear.service.ts
  frontend/src/app/navigation/navigation.component.html
  frontend/src/app/organization/organization-admin/list/organization-list-admin.component.css
  frontend/src/app/organization/organization-admin/list/organization-list-admin.component.html
  frontend/src/app/organization/organization-admin/list/organization-list-admin.component.ts
  frontend/src/app/organization/organization-admin/organization-admin-permission.guard.ts
  frontend/src/app/organization/organization-admin/organization-admin-permission.service.ts
  frontend/src/app/organization/organization-admin/organization-admin.component.css
  frontend/src/app/organization/organization-admin/organization-admin.component.html
  frontend/src/app/organization/organization-admin/organization-admin.component.ts
  frontend/src/app/organization/organization-admin/organization-admin.service.ts
  frontend/src/app/organization/organization-details/organization-details.component.html
  frontend/src/app/organization/organization-details/organization-details.component.ts
  frontend/src/app/organization/organization-editor/organization-editor.component.html
  frontend/src/app/organization/organization-editor/organization-editor.component.ts
  frontend/src/app/organization/organization-editor/organization-editor.guard.ts
  frontend/src/app/organization/organization-page/organization-page.component.html
  frontend/src/app/organization/organization-page/organization-page.component.ts
  frontend/src/app/organization/organization-routing.module.ts
  frontend/src/app/organization/organization.module.ts
  frontend/src/app/organization/organization.resolver.ts
  frontend/src/app/organization/organization.service.ts
  frontend/src/app/organization/pipes/organization-filter.pipe.ts
  frontend/src/app/organization/rx-organization.ts
  frontend/src/app/organization/widgets/organization-card/organization-card.widget.html
  frontend/src/app/organization/widgets/organization-card/organization-card.widget.ts
  frontend/src/app/organization/widgets/organization-details-info-card/organization-details-info-card.widget.html
  frontend/src/app/organization/widgets/organization-details-info-card/organization-details-info-card.widget.ts
  frontend/src/app/permission.guard.ts
  frontend/src/app/permission.service.ts
  frontend/src/app/profile/profile.service.ts
  frontend/src/app/shared/event-list/event-list.widget.ts
Labels: exploration, refactor, frontend

#373 357 avoid duplication of polling data in coworking home
  backend/api/coworking/reservation.py
  docs/specs/room-reservation.md
  frontend/src/app/coworking/coworking-home/coworking-home.component.html
  frontend/src/app/coworking/coworking-home/coworking-home.component.ts
  frontend/src/app/coworking/coworking.service.ts
  frontend/src/app/coworking/reservation/reservation.service.ts
  frontend/src/app/coworking/room-reservation/confirm-reservation/confirm-reservation.component.ts
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.ts
  frontend/src/app/coworking/room-reservation/room-reservation.service.ts
  frontend/src/app/coworking/rx-coworking-status.ts
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.ts
Labels: refactor, frontend

#456 Create Frontend Pagination Abstraction
  frontend/src/app/admin/users/list/admin-users-list.component.ts
  frontend/src/app/admin/users/user-admin.service.ts
  frontend/src/app/event/event-page/event-page.component.ts
  frontend/src/app/event/event.service.ts
  frontend/src/app/event/widgets/event-users-list/event-users-list.widget.ts
  frontend/src/app/pagination.ts
Labels: refactor, frontend

#464 Fix Critical Issue - Applications Data Leaking with Section Data
  backend/entities/academics/section_entity.py
  backend/models/academics/section_details.py
Labels: bug

#462 Angular v17 Upgrade: Events Feature Refactor
  backend/services/event.py
  frontend/src/app/admin/users/list/admin-users-list.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/event/event-details/event-details.component.html
  frontend/src/app/event/event-details/event-details.component.ts
  frontend/src/app/event/event-editor/event-editor.component.html
  frontend/src/app/event/event-editor/event-editor.component.ts
  frontend/src/app/event/event-editor/event-editor.guard.ts
  frontend/src/app/event/event-list-admin/event-list-admin.component.css
  frontend/src/app/event/event-list-admin/event-list-admin.component.html
  frontend/src/app/event/event-list-admin/event-list-admin.component.ts
  frontend/src/app/event/event-page/event-page.component.html
  frontend/src/app/event/event-page/event-page.component.ts
  frontend/src/app/event/event-routing.module.ts
  frontend/src/app/event/event.model.ts
  frontend/src/app/event/event.module.ts
  frontend/src/app/event/event.resolver.ts
  frontend/src/app/event/event.service.ts
  frontend/src/app/event/pipes/group-events.pipe.ts
  frontend/src/app/event/rx-event.ts
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.html
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.ts
  frontend/src/app/event/widgets/event-users-list/event-users-list.widget.html
  frontend/src/app/event/widgets/event-users-list/event-users-list.widget.ts
  frontend/src/app/organization/organization-admin/organization-admin.component.ts
  frontend/src/app/organization/organization-details/organization-details.component.html
  frontend/src/app/organization/organization-details/organization-details.component.ts
  frontend/src/app/organization/organization-page/organization-page.component.ts
  frontend/src/app/organization/organization.resolver.ts
  frontend/src/app/organization/organization.service.ts
  frontend/src/app/pagination.ts
Labels: exploration, refactor, frontend
