Repository unc-csxl/csxl.unc.edu, pull requests merged in 2024-06, with the labels that each got.

#480 Upgrade Organizations Feature to use Material 3
  frontend/src/app/event/event-editor/event-editor.guard.ts
  frontend/src/app/event/event.module.ts
  frontend/src/app/navigation/navigation-admin-gear.service.ts
  frontend/src/app/navigation/navigation.component.css
  frontend/src/app/navigation/navigation.component.html
  frontend/src/app/navigation/navigation.service.ts
  frontend/src/app/organization/organization-details/organization-details.component.html
  frontend/src/app/organization/organization-details/organization-details.component.ts
  frontend/src/app/organization/organization-editor/organization-editor.component.css
  frontend/src/app/organization/organization-editor/organization-editor.component.html
  frontend/src/app/organization/organization-editor/organization-editor.component.ts
  frontend/src/app/organization/organization-page/organization-page.component.css
  frontend/src/app/organization/organization-page/organization-page.component.html
  frontend/src/app/organization/organization-page/organization-page.component.ts
  frontend/src/app/organization/widgets/organization-card/organization-card.widget.css
  frontend/src/app/organization/widgets/organization-card/organization-card.widget.html
  frontend/src/app/organization/widgets/organization-details-info-card/organization-details-info-card.widget.css
  frontend/src/app/organization/widgets/organization-details-info-card/organization-details-info-card.widget.html
  frontend/src/app/organization/widgets/organization-details-info-card/organization-details-info-card.widget.ts
  frontend/src/app/shared/admin-fab/admin-fab.component.css
  frontend/src/app/shared/admin-fab/admin-fab.component.html
  frontend/src/app/shared/admin-fab/admin-fab.component.ts
  frontend/src/app/shared/mat/mat-pane/mat-pane.component.css
  frontend/src/app/shared/mat/mat-pane/mat-pane.component.html
  frontend/src/app/shared/mat/mat-pane/mat-pane.component.ts
  frontend/src/app/shared/search-bar/search-bar.widget.css
  frontend/src/app/shared/search-bar/search-bar.widget.html
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/shared/social-media-icon/social-media-icon.widget.html
  frontend/src/styles/styles.scss
Labels: design, frontend

#481 Upgrade Academics Feature to use Material 3
  frontend/src/app/academics/academics-home/academics-home.component.html
  frontend/src/app/academics/course-catalog/course-catalog.component.css
  frontend/src/app/academics/course-catalog/course-catalog.component.html
  frontend/src/app/academics/section-offerings/section-offerings.component.css
  frontend/src/app/academics/section-offerings/section-offerings.component.html
  frontend/src/app/event/event-page/event-page.component.html
  frontend/src/app/shared/banner-card/banner-card.component.css
  frontend/src/app/shared/banner-card/banner-card.component.ts
  frontend/src/app/ta-application/uta-application/uta-application.component.css
  frontend/src/app/ta-application/uta-application/uta-application.component.html
Labels: design, frontend

#483 Upgrade Events Feature to use Material 3
  frontend/src/app/event/event-details/event-details.component.css
  frontend/src/app/event/event-details/event-details.component.html
  frontend/src/app/event/event-details/event-details.component.ts
  frontend/src/app/event/event-editor/event-editor.component.css
  frontend/src/app/event/event-editor/event-editor.component.html
  frontend/src/app/event/event-editor/event-editor.component.ts
  frontend/src/app/event/event-page/event-page.component.css
  frontend/src/app/event/event-page/event-page.component.html
  frontend/src/app/event/event-page/event-page.component.ts
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.css
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.html
  frontend/src/app/shared/event-list/event-list.widget.css
  frontend/src/app/shared/event-list/event-list.widget.html
  frontend/src/styles/styles.scss
Labels: design, frontend

#485 Upgrade Profile Feature to use Material 3
  frontend/src/app/profile/profile-editor/profile-editor.component.css
  frontend/src/app/profile/profile-editor/profile-editor.component.html
  frontend/src/app/profile/profile-page/profile-page.component.css
  frontend/src/app/profile/profile-page/profile-page.component.html
  frontend/src/app/shared/profile-about-card/profile-about-card.widget.css
  frontend/src/app/shared/profile-about-card/profile-about-card.widget.html
Labels: design, frontend

#488 Upgrade Coworking Feature to use Material 3
  frontend/src/app/coworking/coworking-home/coworking-home.component.css
  frontend/src/app/coworking/coworking-home/coworking-home.component.html
  frontend/src/app/coworking/coworking.module.ts
  frontend/src/app/coworking/room-reservation/confirm-reservation/confirm-reservation.component.ts
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.css
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.html
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.css
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.html
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.ts
  frontend/src/app/coworking/widgets/dropin-availability-card/dropin-availability-card.widget.css
  frontend/src/app/coworking/widgets/dropin-availability-card/dropin-availability-card.widget.html
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.css
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.html
  frontend/src/app/coworking/widgets/reservation-facts/reservation-facts.widget.css
  frontend/src/app/coworking/widgets/reservation-facts/reservation-facts.widget.html
  frontend/src/app/coworking/widgets/reservation-facts/reservation-facts.widget.ts
  frontend/src/styles/styles.scss
Labels: design, frontend

#490 Successfully Create Custom Material 3 Theme
  frontend/src/app/academics/section-offerings/section-offerings.component.html
  frontend/src/app/coworking/room-reservation/new-reservation-page/new-reservation-page.component.html
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.html
  frontend/src/app/coworking/widgets/dropin-availability-card/dropin-availability-card.widget.html
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.css
  frontend/src/app/coworking/widgets/operating-hours-panel/operating-hours-panel.widget.html
  frontend/src/app/event/event-details/event-details.component.html
  frontend/src/app/event/event-page/event-page.component.html
  frontend/src/app/event/widgets/event-detail-card/event-detail-card.widget.html
  frontend/src/app/office-hours/office-hours-page/office-hours-page.component.html
  frontend/src/app/organization/organization-page/organization-page.component.html
  frontend/src/app/ta-application/uta-application/uta-application.component.html
  frontend/src/styles/styles.scss
  frontend/src/styles/theme.scss
Labels: design, frontend

#492 Upgrade Ambassador Feature to use Material 3
  frontend/src/app/coworking/ambassador-home/ambassador-room/list/ambassador-room-list.component.css
  frontend/src/app/coworking/ambassador-home/ambassador-room/list/ambassador-room-list.component.html
  frontend/src/app/coworking/ambassador-home/ambassador-xl/list/ambassador-xl-list.component.css
  frontend/src/app/coworking/ambassador-home/ambassador-xl/list/ambassador-xl-list.component.html
  frontend/src/app/coworking/widgets/coworking-reservation-card/coworking-reservation-card.html
Labels: design, frontend

#497 Index Academics join table columns that back common queries
  backend/entities/academics/section_entity.py
  backend/entities/academics/section_member_entity.py
  backend/migrations/versions/87dd1109e7b2_migration_for_academics_indexes.py
Labels: REQUIRES MIGRATION

#500 Create My Courses Homepage and the Roster View
  backend/api/academics/my_courses.py
  backend/main.py
  backend/models/academics/my_courses.py
  backend/services/academics/my_courses.py
  backend/services/exceptions.py
  backend/test/services/academics/fixtures.py
  backend/test/services/academics/section_member_test.py
  backend/test/services/academics/term_data.py
  frontend/src/app/academics/academics-routing.module.ts
  frontend/src/app/academics/academics.module.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/my-courses/catalog/catalog.component.css
  frontend/src/app/my-courses/catalog/catalog.component.html
  frontend/src/app/my-courses/catalog/catalog.component.ts
  frontend/src/app/my-courses/catalog/course-catalog/course-catalog.component.css
  frontend/src/app/my-courses/catalog/course-catalog/course-catalog.component.html
  frontend/src/app/my-courses/catalog/course-catalog/course-catalog.component.ts
  frontend/src/app/my-courses/catalog/section-offerings/section-offerings.component.css
  frontend/src/app/my-courses/catalog/section-offerings/section-offerings.component.html
  frontend/src/app/my-courses/catalog/section-offerings/section-offerings.component.ts
  frontend/src/app/my-courses/course/course.component.css
  frontend/src/app/my-courses/course/course.component.html
  frontend/src/app/my-courses/course/course.component.ts
  frontend/src/app/my-courses/course/roster/roster.component.css
  frontend/src/app/my-courses/course/roster/roster.component.html
  frontend/src/app/my-courses/course/roster/roster.component.ts
  frontend/src/app/my-courses/my-courses-page/my-courses-page.component.css
  frontend/src/app/my-courses/my-courses-page/my-courses-page.component.html
  frontend/src/app/my-courses/my-courses-page/my-courses-page.component.ts
  frontend/src/app/my-courses/my-courses-routing.module.ts
  frontend/src/app/my-courses/my-courses.model.ts
  frontend/src/app/my-courses/my-courses.module.ts
  frontend/src/app/my-courses/my-courses.service.ts
  frontend/src/app/my-courses/widgets/course-card/course-card.widget.html
  frontend/src/app/my-courses/widgets/course-card/course-card.widget.scss
  frontend/src/app/my-courses/widgets/course-card/course-card.widget.ts
  frontend/src/app/navigation/navigation.component.html
  frontend/src/app/pagination.ts
  frontend/src/app/shared/banner-card/banner-card.component.ts
  frontend/src/app/shared/mat/mat-pane/mat-pane.component.html
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/shared/tab-container/tab-container.widget.css
  frontend/src/app/shared/tab-container/tab-container.widget.html
  frontend/src/app/shared/tab-container/tab-container.widget.ts
  frontend/src/styles/styles.scss
Labels: backend, frontend
